<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Editora</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/editoras" routerLinkActive="active">Editoras</a>
      <a mat-list-item routerLink="/editoras-novo" routerLinkActive="active">Nova Editora</a>
    </mat-nav-list>
    <mat-toolbar>Idioma</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/idiomas" routerLinkActive="active">Idiomas</a>
      <a mat-list-item routerLink="/idiomas-novo" routerLinkActive="active">Novo Idioma</a>
    </mat-nav-list>
    <mat-toolbar>Tipo de Publicação</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/tipo-publicacoes" routerLinkActive="active">Tipo de Publicação</a>
      <a mat-list-item routerLink="/tipo-publicacoes-novo" routerLinkActive="active">Novo Tipo de Publicação</a>
    </mat-nav-list>
    <mat-toolbar>Perssonagem/Equipe</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/pers-equipes" routerLinkActive="active">Perssonagem/Equipe</a>
      <a mat-list-item routerLink="/pers-equipes-novo" routerLinkActive="active">Novo(a) Perssonagem/Equipe</a>
    </mat-nav-list>
    <mat-toolbar>HQ</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/hqs" routerLinkActive="active">HQs</a>
      <a mat-list-item routerLink="/hqs-novo" routerLinkActive="active">Nova HQ</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>projeto-scans-angular</span>
    </mat-toolbar>
    <div class="container">
   <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
